@page "/"

<PageTitle>Home</PageTitle>



<div class="container justify-content-center">
    <h1>Hello, world!</h1>
    <FluentCard Width="250px" Height="250px">
        <div class="row">
            <div class="col-6">
                <FluentAnchor Href="/account/login">Login</FluentAnchor>
            </div>
            <div class="col-6">
                <FluentButton Class="w-100">Register</FluentButton>
            </div>
        </div>
    </FluentCard>

</div>