@page "/login"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using MyChores.Application.Features.Auth.Queries

@page "/account/login"



@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Login</h3>
            <EditForm Model="user" OnSubmit="HandleLogin">
                <label for="username">Name</label>
                <InputText id="username" @bind-Value="user.Email" />
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="user.Password" type="password" />
                <button type="submit" class="btn btn-primary">Do it!</button>
            </EditForm>
        </div>
    </div>
</div>


@code 
{
    LoginUserQuery user = new LoginUserQuery();

    async Task HandleLogin()
    {
        //var result = await Http.PostAsJsonAsync($"{Configuration["ApiUrl"]}api/auth", user);
        //var token = await result.Content.ReadAsStringAsync();

        //Just hard coding the token for now :)
        var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IlNoYWhyaXlhciIsInJvbGUiOiJBZG1pbiIsImlhdCI6MTUxNjIzOTAyMn0.l9E7Oypb-ozndpFUkeVhOYzhtjGEuFmdYdAxhbpXAFY";

        await LocalStorage.SetItemAsync("token", token);
        var user = await AuthStateProvider.GetAuthenticationStateAsync();
    }
}